.github merge=ours
.env.example merge=ours
.env.production merge=ours
electron-builder.yml merge=ours

src/main merge=ours

src/renderer/main/components/Fullscreen/index.vue merge=ours
src/renderer/main/views/desktop/components/Browser.vue merge=ours
src/renderer/main/views/desktop/components/Reader/html.vue merge=ours
src/renderer/main/views/desktop/index.vue merge=ours
src/renderer/main/views/desktop/stores/tabs.ts merge=ours
src/renderer/main/views/profile/glider.vue merge=ours
src/renderer/main/views/profile/toolbar.vue merge=ours
