/* 针对WebKit内核浏览器（Chrome, Safari等） */
body {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;

  /* 设置滚动条背景透明 */
}

::-webkit-scrollbar-thumb {
  background: transparent;

  /* 滑块透明 */
}

:hover::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(0 0 0 / 25%);
}

/* el-tabs 样式 */
.index-tabs .el-tabs__header {
  margin-bottom: 0;
}

.index-tabs .el-tabs__nav-prev,
.index-tabs .el-tabs__nav-next {
  line-height: 38px;
}

.index-tabs .el-tabs__nav-wrap::after {
  display: none;
}

.index-tabs .el-tabs__item {
  height: 36px;
  padding: 0 14px !important;
  border-radius: 6px;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
}

.index-tabs .el-tabs__item.is-active {
  color: white;
  background-color: var(--el-color-primary);
}

.index-tabs .el-tabs__active-bar {
  display: none;
}

/* 升级弹窗 */
.version-upgrade-dialog {
  --el-messagebox-width: 520px;
  --el-messagebox-border-radius: 8px;

  padding: 12px 26px;
}

.version-upgrade-dialog .el-message-box__header {
  padding: 14px 0 10px;
  border-bottom: none;
}

.version-upgrade-dialog .el-message-box__title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  line-height: 1.4;
  justify-content: start;
}

.version-upgrade-dialog .el-message-box__container {
  justify-content: start;
}

.version-upgrade-dialog .el-message-box__content {
  text-align: center;
}

.version-upgrade-dialog .el-message-box__message {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin: 0;
}

.version-upgrade-dialog .el-message-box__btns {
  padding: 20px 0;
  display: flex;
  gap: 12px;
}

.version-upgrade-dialog .el-message-box__btns .el-button {
  width: 96px;
}

.version-upgrade-dialog .el-message-box__status {
  display: none;
}
