/* /src/asstes/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.flex-center {
  @apply flex justify-center items-center;
}

.drag {
  -webkit-app-region: drag
}

.no-drag {
  -webkit-app-region: no-drag
}

.w-50 {
  width: 12.5rem;
}


.text-52 {
  font-size: 3rem;
}

.max-w-50 {
  max-width: 12.5rem;
}
