.idea
.vscode
upload
*.exe
*.db
build
*.db-journal
logs
data
/web/node_modules
cmd.md
.env
temp
.DS_Store
__debug_bin*
static/uploads/*
static/console/*
static/front/*
bin/.env
bin/*hub
docs/*
saas/
build-restart-develop.sh
send-build-msg.sh
.envkm
.envhub
53AIHub
AI_TASK.txt
.tasks/*